<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
    <link rel="stylesheet" href="theme.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container pt-5" id="app" v-cloak>
      <div class="card center">
        <div v-html="myHtml"></div>
        <!--  <h2 v-text="title"></h2>
        <h2 v-once> {{title}}</h2>
        <h2 v-pre>{{title}}</h2>
        <button class="btn" @click="title ='10'">change</button> -->
          <div class="form-control">
            <p>Введите название элемента сипска (и нажмите Enter)</p>
            <input type="text" @keyup.enter="addItem" ref="myInput">
          </div>
        <ul class="list" v-if="items.length">
          <li 
          class="list-item" 
          v-for="(item,i) in items"
          @click.right.prevent="remove(i),log(item)"
          :key="item"
          >
            <b>{{item}}</b>&nbsp;
            <input type="text" @click.stop>
          </li>


          <!--   <li class="list-item" v-for="(value,key) in person"> <b>{{key}}</b> {{value}}</li>-->
        </ul>
        <p>Уделение правой кнопкой по номеру</p>
        <h3 v-show="items.length ==0">none</h3>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
